* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html
{
	font-family: Helvetica;
}
#header {
	height: 100px;
	border: 1px solid blue;
}
#game-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid green;
	height: 300px;
	width: 600px;
}
#garages{
	display: flex;
	border: 2px solid red;
}
.garage{
	border: 2px solid yellow;
}
.car{
	cursor: pointer;
	/* position: relative; */
}
#oil .ldBar-label {
	display: none;
}